<div class="content" role="main">


    <section class="jumbotron text-center">
        <div class="container">
            <img src="/assets/kebab.png" alt="image">

            <h1 class="jumbotron-heading">{{ title }}</h1>

            <p class="lead text-white">Adana kebabı or 'kebab' is a traditional meal, eaten in many religious and national holidays in Turkey. "It's a long, hand-minced meat kebab mounted on a wide iron skewer and grilled on an open mangal or grill filled with burning charcoal.
                The culinary item is named after Adana, the fifth largest city of Turkey" source. In the city of Adana, festivals are held with a competition centered around who can make the longest kebab in the world. At the festival, people have fun
                and eat this delicious dish!</p>
            <p class="lead text-white">Enter your base ingredients weight below for that recipe. It could be a vegitarien ingredient.</p>
            <p class="lead text-white">Brought to you by <a href="https://twitter.com/search?q=%23SeasonsOfServerless" target="_blank">#SeasonsOfServerless</a>, with a seasoning of <a href="https://azure.microsoft.com/en-gb/services/functions" target="_blank">Azure Functions</a>,
                <a href="https://angular.io" target="_blank">Angular</a> and <a href="https://azure.microsoft.com/en-gb/services/app-service/static/" target="_blank">Static Web Apps</a>
            </p>
            <p class="lead text-white">View the code on <a href="https://github.com/stuartleaver/seasons-of-serverless/tree/main/03-the-longest-kebab" target="_blank">GitHub</a></p>
        </div>
    </section>
    <app-longest-kebab></app-longest-kebab>
</div>