<div class="content" role="main">
    <div class="jumbotron text-center">
        <img src="/assets/images/barbecue.png" alt="image">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">In Brazil, everyone loves a big barbecue! Brazilian barbecue is justifiably famous. Everyone's friends and family gets together for a feast, complete with grilled meats called churrasco, typically beef with different marinades. You can also find
            prime rib, linguica (a kind of sausage), lamb kebabs, chicken legs, fish, and much more.</p>
        <p class="lead">Big events like this can get expensive, and you need to stay in within your budget. Enter your details below to find the cost of your delicious barbecue.</p>
        <p class="lead">
            <p class="lead text-white">Brought to you by <a href="https://twitter.com/search?q=%23SeasonsOfServerless" target="_blank">#SeasonsOfServerless</a>, with a seasoning of <a href="https://azure.microsoft.com/en-gb/services/functions" target="_blank">Azure Functions</a>,
                <a href="https://angular.io" target="_blank">Angular</a> and <a href="https://azure.microsoft.com/en-gb/services/app-service/static/" target="_blank">Static Web Apps</a>
            </p>
            <p class="lead text-white">View the code on <a href="https://github.com/stuartleaver/seasons-of-serverless/tree/main/03-the-longest-kebab" target="_blank">GitHub</a>
            </p>
    </div>
    <app-big-barbecue></app-big-barbecue>
</div>